 # Project on Cars Data

In [2]:
import pandas as pd

In [9]:
cars = pd.read_csv(r'C:\Users\VVRAVISH\Downloads\Pandas_project\cars_data.csv')
cars.head(5)

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

In [10]:
# shape - It shows the total no. of rows and no. of columns of the dataframe
cars.shape

(432, 15)

# Instruction ( For Data Cleaning ) - Find all Null Values in the dataset. 
- If there is any null value in any column, 
- then fill it with the mean of that column.

In [12]:
#If there is any null value in any column
cars.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [40]:
# Replace NaN values with the mean of numeric columns
num_col = cars.select_dtypes(include='number').columns
num_df = cars[num_col].fillna(cars[num_col].mean())
str_col = cars.select_dtypes(include='object').columns
str_df = cars[str_col].fillna('Not')
#mearginf both dataframe
final_cars = pd.concat([num_df,str_df],axis =1)
final_cars

,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice
0,3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337"
1,2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761"
2,2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647"
3,3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299"
4,3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203"
428,2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083"
429,2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573"
430,1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641"
431,2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112"

In [42]:
#check for clean data
final_cars.isnull().sum()

EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
dtype: int64

In [45]:
#Check what are the different types of Make are there in our dataset. 
#And, what is the count (occurrence) of each Make in the data ?

final_cars['Make'].value_counts()

Make
Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Nissan           17
Honda            17
Chrysler         15
Volkswagen       15
Mitsubishi       13
Dodge            13
Hyundai          12
Jaguar           12
Volvo            12
Kia              11
Mazda            11
Lexus            11
Pontiac          11
Subaru           11
Lincoln           9
Mercury           9
Buick             9
Saturn            8
Infiniti          8
GMC               8
Cadillac          8
Suzuki            8
Porsche           7
Saab              7
Acura             7
Not               4
Oldsmobile        3
Jeep              3
Land Rover        3
MINI              2
Scion             2
Isuzu             2
Hummer            1
Name: count, dtype: int64

In [48]:
#Show all the records where Origin is Asia or Europe.
    mask1 = final_cars['Origin'].isin(['Aisa','Europe'])
final_cars[mask1]

,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice
7,1.8,4.0,170.0,22.0,31.0,3252.0,104.0,179.0,Audi,A4 1.8T 4dr,Sedan,Europe,Front,"$25,940","$23,508"
8,1.8,4.0,170.0,23.0,30.0,3638.0,105.0,180.0,Audi,A41.8T convertible 2dr,Sedan,Europe,Front,"$35,940","$32,506"
9,3.0,6.0,220.0,20.0,28.0,3462.0,104.0,179.0,Audi,A4 3.0 4dr,Sedan,Europe,Front,"$31,840","$28,846"
10,3.0,6.0,220.0,17.0,26.0,3583.0,104.0,179.0,Audi,A4 3.0 Quattro 4dr manual,Sedan,Europe,All,"$33,430","$30,366"
11,3.0,6.0,220.0,18.0,25.0,3627.0,104.0,179.0,Audi,A4 3.0 Quattro 4dr auto,Sedan,Europe,All,"$34,480","$31,388"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203"
428,2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083"
429,2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573"
430,1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641"
431,2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112"

In [51]:
#Remove all the records (rows) where Weight is above 4000.
mask2 = final_cars['Weight'] > 4000
final_cars[~mask2]

,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice
1,2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761"
2,2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647"
3,3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299"
4,3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014"
5,3.5,6.0,225.0,18.0,24.0,3893.0,115.0,197.0,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203"
428,2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083"
429,2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573"
430,1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641"
431,2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112"

In [54]:
#Increase all the values of 'MPG_City' column by 3.
final_cars['MPG_City'] = final_cars['MPG_City'].apply(lambda x:x+3)
final_cars

,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice
0,3.5,6.0,265.0,20.0,23.0,4451.0,106.0,189.0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337"
1,2.0,4.0,200.0,27.0,31.0,2778.0,101.0,172.0,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761"
2,2.4,4.0,200.0,25.0,29.0,3230.0,105.0,183.0,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647"
3,3.2,6.0,270.0,23.0,28.0,3575.0,108.0,186.0,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299"
4,3.5,6.0,225.0,21.0,24.0,3880.0,115.0,197.0,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,2.4,5.0,197.0,24.0,28.0,3450.0,105.0,186.0,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203"
428,2.3,5.0,242.0,23.0,26.0,3450.0,105.0,186.0,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083"
429,2.9,6.0,268.0,22.0,26.0,3653.0,110.0,190.0,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573"
430,1.9,4.0,170.0,25.0,29.0,2822.0,101.0,180.0,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641"
431,2.5,5.0,208.0,23.0,27.0,3823.0,109.0,186.0,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112"